# The ChatBotKit Secret Token
# obtain a new token from https://chatbotkit.com/tokens
CHATBOTKIT_API_SECRET=

# NextAuth configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Google OAuth credentials
# create credentials at https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
